@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*change the scale ratio to 1rem=10px (default 1rem=16px), then convert to be % (percentage of user's browser fon-size setting)*/
html {
  /*font-size: 10px*/
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.body-container {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 320vh;
  background: url("../images/phiphi-island.jpeg") no-repeat center center;
  position: relative;
  background-size: cover;
  background-position: top;
}

/*Home page header nav style start */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

}

.header-nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 2rem;
}

nav {
  height: 20rem;
  width: 100%;
}

.nav-logo {
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
  color: rgb(255, 255, 0);
  background-color: rgb(50, 43, 43, 0.5);
  width: fit-content;
}

.nav-logo:hover {
  color: rgb(13, 48, 144);
}

.nav-link {
  transition: 0.7s ease;
  color: white;
}

.nav-link:hover {
  color: rgb(0, 27, 100);
}

.hamburger {
  display: none;
  cursor: pointer;
  color: black;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*Home page header nav style end */
/*Home page main style start here*/
/*Home page thailand part style start here*/
.main-paragraph>h2 {
  color: #ffffff;
  background-color: rgb(50, 43, 43, 0.5);

  width: fit-content;
  padding: 8px;
}

.main-paragraph {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 28px;
  color: white;
  margin: 50px 20px;
}

/*Home page Thailand part style start here*/

.main-thailand-map-hero-image-container {
  /* Add property display and assign none value to hide image*/
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.main-thailand-map-hero-image {
  display: flex;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  object-fit: fill;
  margin-bottom: 60px;
}

/*Home page footer start here*/
.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 380px;
  padding: 40px;
  background-color: rgb(134, 238, 204);
}

.footer-container-advertise {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: fit-content;
  gap: 40px;
  line-height: 40px;
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 2.2em;
  text-align: center;
  color: rgb(13, 48, 144);
}

.footer-social-network-container-list {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  column-gap: 60px;
  justify-content: center;
}

.social-network-link {
  color: rgb(13, 48, 144);
}

.social-network-link:hover {
  color: #ffffff;
}

.footer-container-advertise-content>a {
  color: #ffffff;
}

.footer-container-advertise-content>a:hover {
  color: rgb(13, 48, 144);
}

/*About page style here*/

.about-page-main-container {
  display: grid;
  margin-top: 90px;
}

.about-page-main-container-hero-image {
  width: 100%;
  height: 700px;
}

.about-page-main-container-hero-image>img {
  display: block;
  width: 90%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px rgba(255, 255, 255);
}

.about-page-main-container-content {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 28px;
  color: white;
  margin: 50px 20px;
  background-color: rgb(50, 43, 43, 0.5);
  width: fit-content;
  padding: 20px;
}


/*Contact page style css start here*/
.contact-page-main-container {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 2rem;
  color: #252525;
  width: 60%;
  height: 140vh;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.form {
  padding: 1.88em 1.88em;
  padding-bottom: 1.25em;
  height: 1020px;
}

.form>h2 {
  color: rgb(13, 48, 144);
  text-align: center;
  margin: 0 0 0 20px;
  font-size: 3.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  position: relative;
  padding-bottom: 10px;
  line-height: 52px;
  color: #555;
  display: block;
  margin-bottom: 15px;
}

.form-control>label {
  color: rgb(0, 27, 100);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  opacity: 1;
}

.form-control input {
  color: rgb(13, 48, 144);
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/*Contact page text area start here*/

textarea {
  border: 3px solid yellow;
  width: 100%;
  resize: vertical;
  overflow: auto;
  max-width: 62em;
  min-height: 20em;
}

textarea:focus {
  outline: 0;
  border-color: rgb(13, 48, 144);
}

.form-btn {
  cursor: pointer;
  background-color: #555;
  opacity: 0.5;
  border: 3px solid yellow;
  color: white;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 0.8em 2em;
  margin: 0;
  left: 40%;
  transform: translate(-50% -50%);
  margin-bottom: 20px;
}

/*Thailand map page style start here*/
.thailand-map-page-main-container-header {
  font-size: 2.8rem;
  color: rgb(134, 238, 204);
  background-color: rgb(50, 43, 43, 0.5);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.thailand-map-page-main-container-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

#northern-img,
#western-img,
#southern-top-img,
#northeast-img,
#east-and-central-img,
#southern-end-img {
  opacity: 0;
}



.thailand-map-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.thailand-map-page-main-col1 img {
  width: 250px;
  height: 250px;
  display: block;
  object-fit: fill;
}

.thailand-map-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.thailand-map-page-main-col2>img {
  width: 50rem;
  height: 90rem;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.thailand-map-page-main-col2 .northern-btn {
  position: absolute;
  transform: translate(165px, -700px);
  -ms-transform: translate(165px, -700px);
  color: rgb(255, 255, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.thailand-map-page-main-col2 .western-btn {
  position: absolute;
  transform: translate(180px, -500px);
  -ms-transform: translate(180px, -500px);
  color: rgb(255, 255, 0);
  

  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 5px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.thailand-map-page-main-col2 .southern-top-btn {
  position: absolute;
  transform: translate(150px, -380px);
  -ms-transform: translate(150px, -380px);
  color: rgb(255, 255, 0);
  
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 5px;
  background:  rgb(50, 43, 43, 0.2);
  /* background: none; */
  border: none;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.thailand-map-page-main-col2 .east-central-btn {
  position: absolute;
  transform: translate(260px, -480px);
  -ms-transform: translate(260px, -480px);
  color: rgb(255, 255, 0);
  
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 5px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.thailand-map-page-main-col2 .southern-end-btn {
  position: absolute;
  transform: translate(140px, -240px);
  -ms-transform: translate(140px, -240px);
  color: rgb(255, 255, 0);
 
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 5px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.thailand-map-page-main-col2 .northeast-btn {
  position: absolute;
  transform: translate(380px, -580px);
  -ms-transform: translate(380px, -580px);
  color: rgb(255, 255, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 5px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.thailand-map-page-main-col2 .southern-top-btn:hover {
  color: black;
  opacity: 1;
  background: none;
}

.thailand-map-page-main-col2 .southern-top-btn:hover {
  color: black;

}




.thailand-map-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.thailand-map-page-main-col3 img {
  width: 250px;
  height: 250px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.thailand-map-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
}

/*Part province style start here*/
.part-province-page-main-container-north {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*Northeast*/
.part-province-page-main-container-northeast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  display: none;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*West and Central*/
.part-province-page-main-container-westcentral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  display: none;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*East*/
.part-province-page-main-container-east {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  display: none;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*South top*/
.part-province-page-main-container-southtop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  display: none;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*South End*/
.part-province-page-main-container-southend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  display: none;
}

.part-province-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col1 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col1-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.part-province-page-main-col2>img {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 90px;
  display: block;
  cursor: pointer;
}

.part-province-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.part-province-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  /* display: none; */
}

.part-province-page-main-col3-reveal img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

/*Province sightseeing style start here*/

.province-sightseeing-page-main-container-chiangmai,
.province-sightseeing-page-main-container-nakhonratchasima,
.province-sightseeing-page-main-container-bangkok,
.province-sightseeing-page-main-container-kanchanaburi,
.province-sightseeing-page-main-container-chonburi
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.province-sightseeing-page-main-col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.sightseeing-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 40px;
}
.sightseeing-image >img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 5px;
}
.sightseeing-name {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(50, 43, 43, 0.5);
  padding: 10px;
}
.province-sightseeing-page-main-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.province-sightseeing-page-main-col2-img >img {
  width: 300px;
  height: 500px;
  margin-top: 90px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255);
}
.province-sightseeing-page-main-col2-img-name {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(50, 43, 43, 0.5);
  padding: 10px;
}

.province-sightseeing-page-main-col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.province-sightseeing-page-main-col3 img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: fill;
  border: 2px solid rgba(255, 255, 255);

}




/* Media query for header nav start here */
@media (max-width: 768px) {
  .nav-logo {
    font-size: 1.8rem;
    margin-right: 10px;
  }

  .main-paragraph>h2 {
    font-size: 2.4rem;
  }

  .hamburger {
    display: block;
  }

  /*Turn hamburger menu in to X*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-nav-lists {
    position: fixed;
    left: -100%;
    top: 130px;
    gap: 0;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 30px;
  }

  .nav-list {
    margin: 16px 0;
  }

  .main-thailand-map-hero-image {
    width: 100%;
    height: auto;
  }

  .header-nav-lists.active {
    left: 0;
  }

  .footer-container {
    padding: 15px;
  }

  .footer-container-advertise {
    display: flex;
    flex-direction: column;
  }

  /*Contact page */
  .contact-page-main-container {
    width: 98%;
    height: 100vh;
  }

  /*About page*/
  .about-page-main-container-hero-image>img {
    width: 100%;
    height: 250;
    object-fit: cover;
    object-position: center;
  }

  /*Thailand map page*/
  .thailand-map-page-main-container-header>h2 {
    font-size: 2.4rem;
  }

  .thailand-map-page-main-col2>img {
    width: 12rem;
    height: 20rem;
  }

  .thailand-map-page-main-col1 img {
    width: 12rem;
    height: 18rem;
  }

  .thailand-map-page-main-col3 img {
    width: 12rem;
    height: 18rem;
  }

  .province-sightseeing-page-main-col2>img {
    width: 12rem;
    height: 20rem;
  }

  .province-sightseeing-page-main-col1 img {
    width: 12rem;
    height: 18rem;
  }

  .province-sightseeing-page-main-col3 img {
    width: 12rem;
    height: 18rem;
  }


}