@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*change the scale ratio to 1rem=10px (default 1rem=16px), then convert to be % (percentage of user's browser fon-size setting)*/
html {
  /*font-size: 10px*/
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
.main-thailand-map > img {
  width: 100%;
  height: 120vh;
}
.northern-part-of-thailand > img,
.southern-part-of-thailand > img,
.western-and-central-part-of-thailand > img,
.northeast-part-of-thailand > img,
.eastern-part-of-thailand > img {
  width: 30rem;
  height: 25rem;
  object-fit: fill;
}
.body-container {
  background: url("../images/phiphi-island.jpeg") no-repeat center center;
  height: 100vh;
}
a {
  color: aliceblue;

}
/* Header style start here*/
.header-container {
  display: grid;
}
.header {
  min-height: 19rem;
  text-align: center;
  background-color:transparent ;
  z-index: 999;
  width: 100%;
  padding-bottom: 1rem;
}
.header>a:hover h1 {
  color: red;
}
h1 {
  font-size: 4.2rem;
  letter-spacing: 0.4rem;
  color: yellow;
  padding-top: 40px;
}
/*Header style end here*/
