@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*change the scale ratio to 1rem=10px (default 1rem=16px), then convert to be % (percentage of user's browser fon-size setting)*/
html {
  /*font-size: 10px*/
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Header nav style start */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.header-nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 2rem;
}

nav {
  height: 20rem;
  width: 100%;
  background-color: pink;
}

.nav-logo {
  font-size: 3.6rem;
  letter-spacing: 0.4rem;
  color: red;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: darkgreen;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: black;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
  }
  .header-nav-lists {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-list {
    margin: 16px 0;
  }
  .header-nav-lists.active {
    left: 0;
  }
}
